<%- include("./partials/header.ejs") %>

<div class="container my-5 about__container">
  <div
    class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
  >
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis about__heading">
        Desde los clásicos antiguos hasta las nuevas teorías, un abanico de
        perspectivas filosóficas.
      </h1>
      <p class="lead about__paragraph">
        Descubre los grandes pensamientos de la filosofía en nuestra biblioteca
        virtual. Desde las enseñanzas antiguas hasta las ideas modernas,
        encontrarás una vasta colección de obras influyentes que han moldeado el
        pensamiento humano a través de los tiempos. Ya seas estudiante,
        académico o simplemente un curioso por las grandes preguntas de la vida,
        aquí hallarás un tesoro de sabiduría para explorar, reflexionar y forjar
        tu propia visión filosófica del mundo.
      </p>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
      <img
        class="rounded-lg-3 about__image"
        src="https://images.unsplash.com/photo-1601680406053-7898f0564c3b?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Zmlsb3NvZmlhfGVufDB8fDB8fHww"
        alt="Statue"
      />
    </div>
  </div>
</div>

<%- include("./partials/footer.ejs") %>
