<%- include("./partials/header.ejs") %>
<template>
  <div class="col">
    <div class="card shadow-sm">
      <img class="card__image" src="" />
      <div class="card-body">
        <p class="card-text"></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              View
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<section class="library" id="library">
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"></div>
    </div>
  </div>
</section>
<%- include("./partials/footer.ejs") %>
