<%- include("./partials/header.ejs") %>

<section class="philosophers">
  <ul class="philosophers__list">
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Socrates"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/socrates.jpeg"
          alt="Socrates"
        />
        Socrates</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://plato.stanford.edu/entries/plato/"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/platon.jpeg"
          alt="Plato"
        />
        Plato</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Aristotle"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/aristoteles.jpeg"
          alt="Aristotle"
        />
        Aristotle</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Confucius"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/confucio.jpeg"
          alt="Confucius"
        />
        Confucius</a
      >
    </li>
    <li class="philosophers__item">
      <a href="https://en.wikipedia.org/wiki/Laozi" class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/lao-tzu.jpeg"
          alt="Lao Tzu"
        />
        Lao Tzu</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Zeno_of_Citium"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/zeno-of-citium.jpeg"
          alt="Zeno of Citium"
        />
        Zeno of Citium</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Epicurus"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/epicuro.jpeg"
          alt="Epicurus"
        />
        Epicurus</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Seneca_the_Younger"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/seneca.jpeg"
          alt="Seneca"
        />
        Seneca</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Marcus_Aurelius"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/marcoaurelio.jpeg"
          alt="Marcus Aurelius"
        />
        Marcus Aurelius</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Augustine_of_Hippo"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/augustine-of-hippo.jpeg"
          alt="Augustine of Hippo"
        />
        Augustine of Hippo</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Thomas_Aquinas"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/thomas-aquinas.jpeg"
          alt="Thomas Aquinas"
        />
        Thomas Aquinas</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Ren%C3%A9_Descartes"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/rene-descartes.jpeg"
          alt="René Descartes"
        />
        René Descartes</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Baruch_Spinoza"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/spinoza.jpeg"
          alt="Baruch Spinoza"
        />
        Baruch Spinoza</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/John_Locke"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/john-locke.jpeg"
          alt="John Locke"
        />
        John Locke</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/David_Hume"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/david-hume.jpeg"
          alt="David Hume"
        />
        David Hume</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Immanuel_Kant"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/kant.jpeg"
          alt="Immanuel Kant"
        />
        Immanuel Kant</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Georg_Wilhelm_Friedrich_Hegel"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/hegel.jpeg"
          alt="Georg Wilhelm Friedrich Hegel"
        />
        Georg Wilhelm Friedrich Hegel</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Arthur_Schopenhauer"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/arthur-schopenhauer.jpeg"
          alt="Arthur Schopenhauer"
        />
        Arthur Schopenhauer</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/S%C3%B8ren_Kierkegaard"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/kienkegaard.jpeg"
          alt="Søren Kierkegaard"
        />
        Søren Kierkegaard</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Friedrich_Nietzsche"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/nietzsche.jpeg"
          alt="Friedrich Nietzsche"
        />
        Friedrich Nietzsche</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Henri_Bergson"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/bergson.jpeg"
          alt="Henri Bergson"
        />
        Henri Bergson</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Martin_Heidegger"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/heideger.jpeg"
          alt="Martin Heidegger"
        />
        Martin Heidegger</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Jean-Paul_Sartre"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/sartre.jpeg"
          alt="Jean-Paul Sartre"
        />
        Jean-Paul Sartre</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Simone_de_Beauvoir"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/simone-de-beauvoir.jpeg"
          alt="Simone de Beauvoir"
        />
        Simone de Beauvoir</a
      >
    </li>
    <li class="philosophers__item">
      <a
        href="https://en.wikipedia.org/wiki/Michel_Foucault"
        class="philosophers__link"
        ><img
          class="philosophers__image"
          src="../images/michel-foucault.jpeg"
          alt="Michel Foucault"
        />
        Michel Foucault</a
      >
    </li>
  </ul>
</section>

<%- include("./partials/footer.ejs") %>
