<footer class="footer py-3 my-4">
  <p class="footer__slogan border-bottom pb-3 mb-3">
    Una biblioteca virtual de voces latinoamericanas
  </p>
  <p class="footer__copyright text-center text-body-secondary">© 2024 Company, Inc</p>
</footer>
</html>
