    <footer class=" <%= currentPage === '/bookview' ? 'bookview__footer' : 'footer py-3 my-4' %>">
      <p class="footer__slogan border-bottom pb-3 mb-3">
        Alimentando la curiosidad intelectual, un pensamiento a la vez.
      </p>
      <div class="footer__copyright">
        <p>
          &copy; <span id="copyrightYear"></span> Ix Kajal. Todos los
          derechos reservados.
        </p>
      </div>
    </footer>
    <script src="/js/main.js"></script>
  </body>
</html>
