<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Una biblioteca virtual de voces latinoamericanas"
    />
    <meta name="keyword" content="literatura latinoamericana,
      poesía latinoamericana,
      narrativa latinoamericana,
      autores latinoamericanos,
      escritores latinoamericanos,
      biblioteca virtual,
      herencia cultural latinoamericana,
      diversidad literaria,
      perspectivas únicas,
      experiencias colectivas,
      brillantez literaria,
      narrativas cautivadoras,
      lirismo rítmico,
      ideas profundas,
      tapiz de voces,
      paisaje literario,
      América Latina,
      voces latinoamericanas"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Ix Kajal Biblioteca</title>
    <script src="https://kit.fontawesome.com/48f87bed0a.js" crossorigin="anonymous"></script>
  </head>
  <body class="page">
    <header class="header" >
      <nav class="nav" id="nav">
        <ul class="nav__links" id="nav__links">
          <li class="nav__links-item">
            <a class="nav__link" href="#">Inicio</a>
          </li>
          <li class="nav__links-item">
            <a class="nav__link" href="#">Escritores</a>
          </li>
          <li class="nav__links-item">
            <a class="nav__link" href="#">Poesía</a>
          </li>
          <li class="nav__links-item">
            <a class="nav__link" href="#">Nosotros</a>
          </li>
          <li class="nav__links-item">
            <a class="nav__link" href="#">Contactanos</a>
          </li>
        </ul>
        <p class="nav__logo">IX KAJAL</p>
        <form class="nav__form">
          <input class="nav__form-input" placeholder="Buscar..." name="search" id="search"/>
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass nav__form-bttn" style="color: #ad3e00;"></i>
          </button>
        </form>
      </nav>
    </header>

