<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="page">
    <header>
      <nav class="nav" id="nav">
        <ul class="nav__links" id="nav__links">
          <li class="nav__links-item">
            <a class="nav__link" onclick="scrollToSection('home')">Inicio</a>
          </li>
          <li class="nav__links-item">
            <a class="nav__link" onclick="scrollToSection('about')">Nosotros</a>
          </li>
          <li class="nav__links-item">
            <a class="nav__link" onclick="scrollToSection('services')"
              >Servicios</a
            >
          </li>
          <li class="nav__links-item">
            <a class="nav__link" onclick="scrollToSection('gallery')"
              >Galeria</a
            >
          </li>
          <li class="nav__links-item">
            <a class="nav__link" onclick="scrollToSection('faq')">Preguntas</a>
          </li>
          <li class="nav__links-item">
            <a class="nav__link" onclick="scrollToSection('contact')"
              >Contactanos</a
            >
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
