@import "./variables";

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  padding: 0 25px;
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__links-item {
  transition: transform 0.35s ease-in-out, color 0.35s ease;
  color: $txt-secondary;

  &:hover {
    color: $txt-primary;
    transform: scale(1.2);
    cursor: pointer;
  }
}

.nav__link {
  font-family: $font-family-subheading;
  line-height: 1.2;
  font-weight: 400;
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

.nav__logo {
  font-family: $font-family-brand;
  font-weight: 400;
  font-size: clamp(24px, 5vw, 34px);
  color: $txt-primary;
  margin: 0 75px 55px 0;
}

.nav__form {
  width: 100%;
  max-width: 220px;
  display: flex;
  column-gap: 5px;
}

.nav__form-input {
  border: 1px solid $txt-secondary;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  max-width: 190px;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: $txt-primary;
    box-shadow: 0 0 2px rgba(77, 144, 254, 0.5);
  }
}

.nav__form-bttn {
  border: none;
  background-color: $bg-color;
  transition: transform 0.35s ease-in-out;

  &:hover {
      transform: scale(1.2);
  }
}