// colors

// Background colors
$bg-color: #FCF8F5;
$bg-bttn-color: #3D0240;

// Text colors
$txt-primary: #0A0B17;
$txt-secondary: #6F4370;
$txt-bttn: #FCF8F5;

// Typography

$font-family-brand: "Libre Baskerville", serif;